/* Font Handlee for Body and Lobster for Header Styles*/
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Asterik wildcard selector to override default styles added by the browser*/
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    /* General project styles*/
    display:flex;
    flex-direction: column;
    color:#3a3a3a;
    font-family: "Handlee", cursive;
}

section {
    margin-top: 2em;
}

/* Header */
header {
    background-color: rgba(110,182,179);
    position: fixed;
    width:100%;
    padding:0 1rem;
    z-index:99;
    box-shadow: 0 2px 2px #3c7081;
    font-family: "Lobster Two", sans-serif;
    display:flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color:inherit;
}

#menu {
    list-style: none;
    letter-spacing: 3px;
    font-size: 110%;
}

#menu > li {
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid #a1532b;
}

/* Navbar styles with dropdown toggle*/
nav {
    position:absolute;
    background-color: #6eb6b3;
    width:100%;
    padding: 0 1rem;
    left:0;
    box-shadow: 0 2px 2px #3c7081;
    display:none;
    /* this will push menu down the heading, 100 means bottom of the parent*/
    top:100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

h1 {
    text-transform: capitalize;
    letter-spacing: 2px;
    color:#a1532b;
    font-size: 2rem;
}

/* Main */
main {
     /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#hero-section {
    width:90%;
    margin: 0 auto;
    padding-top: 1em;
}

#hero-section img {
    width: 100%;
    height:300px;
}

#hero-content {
    padding-top:1em;
    line-height: 25px;
}

#hero-content p {
    font-size:120%;
    letter-spacing: 1px;
    padding:0.6em;
}

#quote {
    width:100%;
    height:220px;
    background:url("../images/quote-image.webp") no-repeat center center/cover;
    position: relative;
    text-align: center;
}

#quote-text{
    background-color: rgba(255,255,255,0.6);
    position: absolute;
    width:80%;
    padding: 0.6em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    border: 4px solid #fff;
    color:#475c46;
}

#quote-text span {
    color: #a1532b;
    font-weight: bold;
}

#crafts {
    width:80%;
}

.card {
    margin-bottom: 1em;
}

.card img {
    width:100%;
    height:250px;
}

.card-text {
    letter-spacing: 1px;
    text-align: justify;
    font-size: 1.2rem;
}

.card-text h2 {
    color:#a1532b;
    text-transform: capitalize;  
    padding: 0.2em 0;
    text-align: center;
    background-color: #6eb6b3;
}

.card-text p {
    padding-top: 0.6em;
}

.container {
    position: relative;

}

#materials {
    width: 80%;
}

#materials h2 {
    color:#a1532b;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: 'Lobster Two' sans-serif;
}

#materials > p {
    padding: 0.6em;
    font-size: 130%;
}

.container img {
    width:100%;
    display: block;
    height: 250px;
    margin-bottom: 1em;
}

.overlay {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    opacity: 0;
    transition: .5sec ease;
    background-color: #475c46;
    color:#fff;
}

.container:hover .overlay {
    opacity: 0.8;
}

.overlay-text {
    padding: 0.6em;
    font-size: 1.2rem;
}

.overlay-text ol {
    text-align: left;
    padding: 0.8em;
    list-style-type: disc;
}


/* footer */
footer{
    text-align: center;
    padding: 1em 0;
    color: #3c7081;
}

footer img {
    width: 25px;
    height: 25px;
} 

footer p {
    letter-spacing: 1px;
}

#social-networks {
    display:flex;
    justify-content: space-evenly;
    padding: 1em 0;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    color:#3c7081;
    padding:5%;
}

.fa-solid {
    color: #a1532b;
}

/* Media Query: Mobile Screena ( 425px and above) */

@media screen and (min-width:425px){

    /* Header */
    h1 {
        font-size: 2.4rem;
    }

    #hero-content > p {
        font-size:1.4rem;
        line-height: 30px;
        text-align: left;
    }

    #quote-text h2{
        font-size: 155%;
    }

    .card-text {
        text-align: left;
        font-size: 1.4rem;
    }

    #materials h2 {
        font-size: 240%;
    }

    #materials > p {
        font-size: 150%;
    }

    .overlay-text {
        font-size: 1.2rem;
    } 

    footer {
        font-size: 130%;
    }
}

/* Media Query : Tablets and above (768px and above)*/

@media screen and (min-width:768px){

    /*Header*/

    nav {
        display: block;
        position:relative;
        box-shadow: none;
        width:fit-content;
        align-self: flex-end;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
        font-size: 110%;
    }

    .nav-toggle-label {
        display: none;
    }

    h1 {
        font-size: 250%;
        line-height: 80px;
        margin: 0 0.5rem;
    }
    /* Main Content */
    main {
        /* Push main content down to accommodate larger header*/
        margin-top: 70px;
    }

    #hero-section {
        display:flex;
    }

    #hero-section figure {
        order: 2;
        flex:4 0 320px;
        align-self: center;
    }

    #quote-text {
        font-size: 130%;
    }

    #crafts {
        display: flex;
        flex-wrap: wrap;
        gap: 1.7em;
        width:90%;
       
    }

    #crafts > div {
        flex-basis: 230px;
        flex-grow: 1;
    }

    .card-text {
        font-size: 1.6rem;
    }

    #materials {
        width:90%;
    }

    #materials h2 {
        font-size: 260%;
    }

    #materials > p {
        font-size: 170%;
    }

    #material-wrapper {
        display:flex;
        gap:1em;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #materials-wrapper > div {
        flex-basis: 250px;
        flex-grow: 1;
    }

    .container img {
        height: 300px;
    }

    .overlay-text {
        font-size: 140%;
    }

    footer {
        font-size: 170%;
    }
}

/* Media Query: laptops and upwards (992px and up) */
@media screen and (min-width: 992px) {
    /* Header*/
    #menu a:hover{
        border-bottom: 1px solid #a1532b;
    }

    /* main */

    #hero-section {
        gap:2em;
    }

    #hero-section figure {
        order: 2;
        flex:4 0 500px;
        align-self: center;
    }

    #hero-content {
        align-self: center;
        width:50%;
    }

    #hero-content p {
        font-size: 130%;
        letter-spacing: 2px;
    }

    #quote-text {
        font-size: 120%;
    }

    #crafts {
        gap: 3em;
        width:80%;
        margin-top: 4em;
    }

    #crafts > div {
        flex-basis: 400px;
        flex-grow: 1;
    }

    .card {
        display: flex;
    }

    .card-text p {
        padding: 0.8em;
        font-size: 1.3rem;
    }
}

/* Media Query: Desktops and upwards (1200px and up) */
@media screen and (min-width: 1200px) {

    /* Main */
    #hero-section figure {
        margin-top: 2em;
    }

    #hero-content p {
        font-size: 160%;
        letter-spacing: 3px;
    }

    #quote-text {
        font-size: 140%;
    }
}